// Importacion Estilos Globales
@import 'EstilosGlobales/EstilosGlobales.scss';

$porcentajeDeveloper:0.30;
$porcentajeDesign:1-$porcentajeDeveloper;
$dev: $porcentajeDeveloper*360deg;
$des: $porcentajeDesign*360deg;


// ---- ESTILOS COMPONENTE SECCION HABILIDADES ----
.contenedor-Habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url('../../../Imagenes/fondo-habilidades.png'), linear-gradient(0deg, rgba(217, 221, 255, 0.263) 5%, rgba(119, 18, 18, 0.052) 88%);;
    background-blend-mode:multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .parrafoHabilidades {
        width: 100%
    }

}
.contenedor-seccion-tecnologias-Habilidades {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 30px;
    width: 100%;

    h2 {
        margin-bottom: 25px;
    }
    section:nth-child(1) {
        text-align: center;
        width: 30%;
    }
    section:nth-child(2) {

    }
    section:nth-child(3) {
        text-align: center;
        width: 30%;
    }
}
.item-lista-actividad {
    text-align: start;
}
.contenedor-seccion2-tecnologias-Habilidades {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    width: 100%;
    div {
        background: rgba(255, 255, 255, 0);
        backdrop-filter: blur(2px);

        border: 1px solid rgba(42, 42, 42, 0.237);
        border-radius: 10px;
        padding: 3px;
        margin: 5px;
        div {
            background: rgba(255, 255, 255, 0.337);
            border: 1px solid rgba(42, 42, 42, 0.218);
            border-radius: 5px;
            padding: 40px;
            
            text-align: center;  
        }
    }
    h3 {
        color: $color2;
        margin: 0px 0px 20px 0px;
    }
}

// Estilos del Grafico
.donut-hole {
    stroke: #00000050;
    stroke-width:0.1px;

    fill: #ffffff4a;

}


.donut-segment {
    transform-origin: center;
}

.donut-segment-1 {
    opacity: 0.5;
    stroke: $color2;
}

.donut-segment-2 {
    opacity: 0.5;
    stroke: $color4;
}


.donut-text {
    font-family: Arial, Helvetica, sans-serif;
    
}

.donut-design {
    fill: #ffffff1a;
    font-size: 3pt;
    
}

.donut-dev {
    fill: #ffffff1a;
    font-size: 3pt;



}

.donut-data-dev {
    font-size: 2pt;
    fill: rgb(255, 255, 255);

}
.donut-data-design {
    font-size: 1.5pt;
    fill: rgb(255, 255, 255);
}





