// Importacion Estilos Globales
@import 'EstilosGlobales/EstilosGlobales.scss';


// ---- ESTILOS COMPONENTE SECCION HABILIDADES ----
.contenedor-Habilidades {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
      background: rgb(255, 255, 255);
}
.contenedor-seccion-tecnologias-Habilidades {
    display: flex;
    flex-flow: row wrap;
    padding: 30px;

}


