// Importacion Estilos Globales
@import 'EstilosGlobales/EstilosGlobales.scss';


// ---- ESTILOS COMPONENTE SECCION DESCRIPCION ----
.contenedor-Descripcion {
    padding: 30px;
    background: rgba(255, 174, 0, 0.14);
    height: 100%;
}