// Importacion Estilos Globales
@import 'EstilosGlobales/EstilosGlobales.scss';

$colorSignosTitulo:rgb(64, 70, 255);


// ---- ESTILOS COMPONENTE SECCION PRESENTACION ----
.contenedor-Presentacion {
    padding: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 100%;
    min-height: 500px;
    padding-top: 150px;
    background-image: url('../../../Imagenes/imagenFondo2.avif'), linear-gradient(65deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 19%, rgb(255, 255, 255) 30%, rgb(0, 0, 0) 100%);
    background-color: #00000066;
    background-blend-mode:multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.seccion-texto-Presentacion {
    width: 500px;
    color: #dadada;
 
    div {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 10px;

        h1 {
            margin-right: 15px;
            font-size: 30pt;
            color: #dadada;
        }

        svg:nth-child(1) {
            width: 45px;
            fill: $colorSignosTitulo; 
            transform: rotate(180deg);  
        }
        svg:nth-child(4) {
            width: 45px;
            fill: $colorSignosTitulo;
        }
        svg:nth-child(3) {
            height: 45px;
            fill: $colorSignosTitulo;
        }
    }
   
    p {
        color: rgb(255, 255, 255);
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: justify;

        b {
            color: $color2;
        }
    }

    ul {
     
        li {
            width: 110px;
            margin-left: 25px;
            cursor: pointer;
            color: white;
            line-height: 1.3;
            font-size: 1rem;
            font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
            text-rendering: optimizeLegibility;
            
            &:hover {
                color: rgb(207, 207, 207);
            }
            &:active{
                color:$color2;
            }
        }
    }
}

.botonDescargaCV {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 30px;
    border: 0;
    border-radius: 10px;
    font-family: "Barlow", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.5rem;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #e8472aab;
    transition: all 0.4s ease;
    text-decoration: none;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);

    img {
        width: 40px;
        margin-right: 15px;
    }

    &:hover {
        background-color: #e8452a;
    }
    &:active {
        background-color: #b41b00;
    }
    
}
.botonContacto-Presentacion {
    margin-left: 13px;
    padding: 6px;
    background: rgba(255, 255, 255, 0.348);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items:center;

    &:hover {
        background-color: #c9c9c9bb;
    }
    &:active {
        background-color: #d6d6d6;
    }
}


.seccion-contacto-Presentacion {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
}
