// Importacion Estilos Globales
@import 'EstilosGlobales/EstilosGlobales.scss';


// ---- ESTILOS COMPONENTE SECCION CONTACTO----
.contenedor-Contacto {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background: rgba(255, 145, 244, 0.177);

    background-image: url('../../../Imagenes/imagenFondo1.jpg'), linear-gradient(to right, rgba(55, 4, 50, 0.914) 0%, #494949 100%);;
    background-blend-mode:multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    height: 100%;
    padding: 30px;
    h1{
        text-align: center;
        width: 100%;
        color: azure;
        span {
            color: blue;
        }
    }
    h2{
        color: aliceblue;
    }
    section {
        width: 300px;
    }
    a {
        color: azure;
    }
    embed {
       
    }
}