// Importacion Estilos Globales
@import 'EstilosGlobales/EstilosGlobales.scss';


// ---- ESTILOS COMPONENTE SECCION PORTAFOLIO ----
.contenedor-Portafolio {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}